.backgroundImage {
  height: 50vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../assets/images/shujaa.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
